@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Roboto');
* {margin: 0;padding: 0;}
.clear{ content:".";display:block;height:0;clear:both;visibility:hidden}
* html .clear { zoom:1; }
body, html {
 font-family: 'Roboto', sans-serif;
}
i {
font-family: fontawesome !important;
}
a { text-decoration: none;display: inline-block;}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {clear: both;}
.wrapper > ul {padding: 0;margin: 0; font-size: 0}
 .wrapper {
    background-color:#333333;
    width: 100%;
    height: 75px;
    }
 .wrapper > ul > li{
 	display: inline-block;
 	list-style: none;
 	font-size: 18px;
  }
 .wrapper > ul > li:last-child {
 	margin-right: 0;
 }
 .wrapper > ul > li > a {
 	color: #fff;
 	text-decoration: none;
 	height: 75px;
 	line-height: 75px;
 	padding: 0 15px;
 }
.wrapper > ul > li a:hover{	
	color: #343434;
	background-color: #E9CA00;
  }
.tel {
	float:right;
	color: #E9CA00;
	line-height: 75px;
	font-size: 3vw;
	padding-right: 50px;
}

.fa-phone {
	color: #fff;
	padding-right: 10px;
}
.tel-adapt {
	display: none;
	visibility:hidden;
	float:right;
	color:#E9CA00;
	line-height: 75px;
	font-size: 3vw;
	padding-right: 100px;
}
#menu-bars{
	visibility: hidden;
	display: none;
}

@media screen and (max-width: 910px) {
    .tel {display: none;}
   }
@media screen and (max-width: 910px){
 	.tel-adapt {
 	visibility: visible;
 	display: block;
	float:right;
	color:#E9CA00;
	line-height: 75px;
	font-size: 2.5vw;
	padding-right: 50px;}
 }
 @media screen and (max-width: 865px){
 	.tel-adapt {
 	visibility: visible;
 	display: block;
	float:right;
	color:#E9CA00;
	line-height: 75px;
	font-size: 25px;
	padding-right: 50px;
 	}
 }
 @media screen and (max-width:865px) {
   li a {
   	visibility: hidden;
   	display: none;
   }
 }
 @media screen and (max-width: 865px){
 	#menu-bars {
 		visibility: visible;
 		display: block;
 		float: left;
 		font-size:40px;
 		color: #fff;
 		line-height: 75px;
        padding-left: 30px;

 	}
 }
 
.back {
 	background-image:url(back.jpg);
 	position: relative;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
 	background-repeat: no-repeat
 }

.h_one {
	position: absolute;
	left: 0;
	padding-left: 20px;
	color: black;
	top: 100px;
	font-size: 60px;
    font-style: italic;	
}

 .discription {
 	display: inline-block;
 	position: absolute;
 	background-color: #E9CA00;
	padding-left: 20px;
	color: black;
	font-size: 25px;
	width: 115%;
	border-left:5px solid #E18A3F;
 }

form input {
	margin:10px 0;
	padding: 10px;
	font-size: 30px;
}
.forma {
 margin-top:70px;
 margin-right: 150px;
 background-color: #333333;
 width: 400px;
 padding: 10px;
 text-align: center;
 border-radius: 10px;
 float:right;
}
.wrapper_main {
	position: relative;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 2000px;
}
.confirm {
	font-style: italic;
    color:#fff;
    background-color: #E9525F;
	border:2px solid #90333B;
	border-radius: 30px;
}
.confirm:hover {
    background-color: #E96772;
    color:#fff;
    border:2px solid #A54951;
    transform: 0.5s;
    cursor: pointer;
     transition: 0.3s;
 }
.border_yel {
	border:#fff dashed 1px;
    border-radius:5px;
	box-shadow: 1px 1px 10px 1px #E9CA00;
	outline: none;
}
