@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat:900');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
* {margin: 0;padding: 0;}
.clear{ content:".";display:block;height:0;clear:both;visibility:hidden}
* html .clear { zoom:1; }
body, html {
 font-family: 'Roboto', sans-serif;
 font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif;
}
i {
font-family: fontawesome !important;
}
a { text-decoration: none;display: inline-block;}
   /*Подложка для всей страницы*/
.wrapper_main {
	position: relative;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 2470px;
}
#felement{background-color: black;color: #000;}

.wrapper > ul {padding: 0;margin: 0; font-size: 0}
 .wrapper {
 	text-align: center;	
 	position: relative;
 	margin-top:5px;
    background-color:transparent;
    width: 100%;
    height: 75px;
    font-family: 'Open Sans Condensed', sans-serif;
    }
 .wrapper > ul > li{
 	display: inline-block;
 	list-style: none;
 	font-size: 35px;
  }
 .wrapper > ul > li:last-child {
 	margin-right: 0;
 }
 .black a{
 	color: #000;
 	text-decoration: none;
 	line-height: 75px;
    height: 75px;
    padding: 0 25px;     
   }
  .black a:hover{
      
 }
 .red a {
 	color: #CF4B32;
 	text-decoration: none;
 	line-height: 75px;
 	height: 75px;
 	padding: 0 25px;
  } 
.wrapper > ul > li a:hover{	
	color: #000;
 }

.fdiv {
	text-align: center;
}
.tel {
	color: #000;
	line-height: 75px;
	font-size: 40px;
	padding-right: 50px;
	font-family:Open Sans Condensed;
}

.fa-phone {
	color: #FF5454;
	padding-right: 10px;
}
.fa-phone:hover {
	color: red;
	padding-right: 10px;
}

.button {
	text-align: center;
	position: relative;
	color: #fff;
	top:390px;
	left: 1005px;
	width: 200px; 
	height: 35px;
    padding: 8px 14px 10px;
	line-height: 35px;
	font-family:roboto;
    background: #22C3EB;
    border: none;
    margin-right: 25px;
    box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}
.character {
	position: absolute;
	background-color: transparent;
	width: 100%;
	height: 650px;
	top: 875px;
	font-family: roboto;
	font-size: 20px;
}
.cpho{
	position: absolute;
	top: 120px;
	margin-left: 400px;
	display: block;
}

#ulch {
 position: relative;
 top: 140px;
 margin-left:750px;
 width: 550px;
 line-height: 30px;
 list-style: none;
}
#ulch > li:before {
 font-family: Montserrat, sans-serif;
 font-weight: 400;
 color: #22C3EB; /* Цвет маркера */
 content: "•"; /* Маркер */
 padding-right: 7px; /* Отступ от маркера до текста */
}
/*
.tel-adapt {
	display: none;
	visibility:hidden;
	float:right;
	color:#E9CA00;
	line-height: 75px;
	font-size: 3vw;
	padding-right: 100px;
}

#menu-bars{
	visibility: hidden;
	display: none;
}

@media screen and (max-width: 910px) {
    .tel {display: none;}
   }
@media screen and (max-width: 910px){
 	.tel-adapt {
 	visibility: visible;
 	display: block;
	float:right;
	color:#E9CA00;
	line-height: 75px;
	font-size: 2.5vw;
	padding-right: 50px;}
 }
 @media screen and (max-width: 865px){
 	.tel-adapt {
 	visibility: visible;
 	display: block;
	float:right;
	color:#E9CA00;
	line-height: 75px;
	font-size: 25px;
	padding-right: 50px;
 	}
 }
 @media screen and (max-width:865px) {
   li a {
   	visibility: hidden;
   	display: none;
   }
 }
 @media screen and (max-width: 865px){
 	#menu-bars {
 		visibility: visible;
 		display: block;
 		float: left;
 		font-size:40px;
 		color: #fff;
 		line-height: 75px;
        padding-left: 30px;

 	}
 }
 */
.back {
	background-image: url(backg.jpg);
  	position: relative;
 	margin-top: 20px;
 	left: 0;
 	width: 100%;
 	height: 700px;
 	background-repeat: no-repeat;
  }

.h_one {
	position: absolute;
	left: 0;
	padding-left: 40px;	
	color: #fff;
	top: 200px;
	font-size: 60px;
    font-style: italic;
}

 .discription {
  	position: relative;
  	font-family: Roboto;
 	color: black;
	font-size: 45px;
	color: #fff;
	background-color:#CF4B32;
	padding: 7px;
	margin-top: 10px;
	border-left: 10px solid #A13B27;
 }

.img {
	position: absolute;
	left: 1000px;
	top: 80px;	
	} 


#wrapper_form {
	position: relative;
	top: 600px;
	background-image: url(backgroundf.jpg);
	width: 100%;
	height: 853px;
	background-repeat: no-repeat;
	margin-top: 50px;
}


form input {
	margin:10px 0;
	padding: 10px;
}
#forma {
	position: relative;
	top: 200px;
	left: 40%;
    text-align: center;
    width: 281px;
}

     /*Кнопка "Заказать"*/
.confirm {
	font-family: Roboto;
    color:#AF7C4C;
    font-style: normal;
    font-size: 16px;
    padding: 15px 90px;
    font-weight: 400;
    background-color: transparent;
	border:2px solid #AF7C4C;
	border-radius: 15px;
	outline: none;
	width: 100%;
	margin-left: 10px;
}
.confirm:hover {
    background-color:#AF7C4C;
    color:#fff;
     transform: 0.5s;
    cursor: pointer;   
 }
      /*Поля ввода*/
.border_yel {
	background-color:transparent; /*Прозрачность*/
	border:#fff solid 1px; /*Граница белого цвета*/
    border-radius:15px; /*Радиус глов границы*/
	outline: none;
	font-size: 16px;
	width: 100%;
	height: 30px;
	padding-left: 10px;
	-webkit-border-radius:15px;
	color: #fff;
}
.border_yel::-webkit-input-placeholder { /* WebKit browsers */
    color: #fff;
}

#on_form_text {
  position: relative;
  top:150px;
}


/*Подвал*/
.down {
	position: relative;
	background-color: #fff;
	color: #000;
	top: 600px;
	height: 100px;
	line-height: 100px;
	font-family: roboto, arial;
	font-size: 30px;
	text-align: center;
	word-spacing: 15px;
}
.fa-vk {
color: #4A76A8;
}
.fa-facebook {
color:#385899;
}
.fa-twitter{
	color: #00AEEE;
}
