@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
* {margin: 0;padding: 0;}
.clear{ content:".";display:block;height:0;clear:both;visibility:hidden}
* html .clear { zoom:1; }
body, html {
 font-family: 'Roboto', sans-serif;
 font-family: 'Open Sans Condensed', sans-serif;
}
i {
font-family: fontawesome !important;
}
a { text-decoration: none;display: inline-block;}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {clear: both;}
.wrapper > ul {padding: 0;margin: 0; font-size: 0}
 .wrapper {
    background-color:#333333;
    width: 100%;
    height: 75px;
    }
 .wrapper > ul > li{
 	display: inline-block;
 	list-style: none;
 	font-size: 18px;
  }
 .wrapper > ul > li:last-child {
 	margin-right: 0;
 }
 .wrapper > ul > li > a {
 	color: #fff;
 	text-decoration: none;
 	height: 75px;
 	line-height: 75px;
 	padding: 0 15px;
 }
.wrapper > ul > li a:hover{	
	color: #343434;
	background-color: #E9CA00;
  }
.tel {
	float:right;
	color: #E9CA00;
	line-height: 75px;
	font-size: 3vw;
	padding-right: 50px;
}

.fa-phone {
	color: #fff;
	padding-right: 10px;
}
.tel-adapt {
	display: none;
	visibility:hidden;
	float:right;
	color:#E9CA00;
	line-height: 75px;
	font-size: 3vw;
	padding-right: 100px;
}
#menu-bars{
	visibility: hidden;
	display: none;
}

@media screen and (max-width: 910px) {
    .tel {display: none;}
   }
@media screen and (max-width: 910px){
 	.tel-adapt {
 	visibility: visible;
 	display: block;
	float:right;
	color:#E9CA00;
	line-height: 75px;
	font-size: 2.5vw;
	padding-right: 50px;}
 }
 @media screen and (max-width: 865px){
 	.tel-adapt {
 	visibility: visible;
 	display: block;
	float:right;
	color:#E9CA00;
	line-height: 75px;
	font-size: 25px;
	padding-right: 50px;
 	}
 }
 @media screen and (max-width:865px) {
   li a {
   	visibility: hidden;
   	display: none;
   }
 }
 @media screen and (max-width: 865px){
 	#menu-bars {
 		visibility: visible;
 		display: block;
 		float: left;
 		font-size:40px;
 		color: #fff;
 		line-height: 75px;
        padding-left: 30px;

 	}
 }
 
.back {
 	background-color:#fff;
 	position: relative;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 680px;
 	background-repeat: no-repeat;
  }

.h_one {
	position: absolute;
	left: 0;
	padding-left: 20px;
	color: black;
	top: 100px;
	font-size: 60px;
    font-style: italic;	
}

 .discription {
 	display: inline-block;
 	position: absolute;
 	background-color: #E9CA00;
	padding-left: 20px;
	color: black;
	font-size: 25px;
	width: 115%;
	border-left:5px solid #E18A3F;
 }

   /*Подложка для всей страницы*/
.wrapper_main {
	position: relative;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 2000px;
}

.wrapper_form {
	background-image: url(backgroundf.jpg);
	width: 100%;
	height: 853px;
	background-repeat: no-repeat;
}


form input {
	margin:10px 0;
	padding: 10px;
}
.forma {
	position: absolute;
	top: 1120px;
	left: 40%;
    text-align: center;
    width: 281px;
}

     /*Кнопка "Заказать"*/
.confirm {
	font-family: Roboto;
    color:#AF7C4C;
    font-style: normal;
    font-size: 16px;
    padding: 15px 90px;
    font-weight: 400;
    background-color: transparent;
	border:2px solid #AF7C4C;
	border-radius: 15px;
	outline: none;
	width: 100%;
	margin-left: 10px;
}
.confirm:hover {
    background-color:#AF7C4C;
    color:#fff;
     transform: 0.5s;
    cursor: pointer;   
 }
      /*Поля ввода*/
.border_yel {
	background-color:transparent; /*Прозрачность*/
	border:#fff solid 1px; /*Граница белого цвета*/
    border-radius:15px; /*Радиус глов границы*/
	outline: none;
	font-size: 16px;
	width: 100%;
	height: 30px;
	padding-left: 10px;
	-webkit-border-radius:15px;
	color: #fff;
}
.border_yel::-webkit-input-placeholder { /* WebKit browsers */
    color: #fff;
}

#on_form_text {
  position: relative;
  top:150px;
}

